{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row">
    <div class="col text-center mt-3">
        <h2 class="logo-font">Favourites</h2>
            <hr class="w-60 mb-1">
    </div>
</div>
<div class="row">
    <div class="col">
        {% if favourites %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in favourites %}
                            <tr>
                                <div class="row">
                                    <td class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                {% if product.product.image %}
                                    <img class="card-img-top img-fluid" src="{{ product.product.image.url }}" alt="{{ product.product.name }}">
                                {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product.name }}">
                                {% endif %}
                                </td>
                                <td class="py-3 w-50 pl-md-4 pr-lg-5">
                                    <p class="my-0 mb-4 product"><strong>{{ product.product.name }}</strong></p>
                                    <div>
                                        <p class="my-0 mr-lg-5">{{ product.product.description }}</p>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 product"><strong>€{{ product.product.price }}</strong></p>
                                </td>
                               
                                <td class="py-3">
                                    <a href="{% url 'remove_from_favourites' product.product.id %}"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="lead mb-5 ">You have no products in your favourites.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

