
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/cookie.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Montserrat';
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #F1F5F2;
    z-index: -1;
}

#main-nav {
    color: #3F2A2B !important;
}

.main-logo-link {
    width: fit-content;
}

.nav-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

a.category-badge > span.badge:hover {
    background: #fff !important;
    color: #fff !important;
}

.btn-outline-black {
    background: #3F2A2B;
    color: #E0DFD5 !important;
    border: 1px solid black;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/*----- Toasts -----*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

#contact {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #F1F5F2;
    z-index: -1;
}

/*------FOOTER------*/
footer {
    padding: 64px 0;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
    margin: 0 32px;
}

.social-networks i {
    font-size: 110%;
    color: #323031;
}

/* Mailchimp */
#mc_embed_signup {
    background: white;
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width: 600px;
}

/* Cards */

.card-img-top{
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
}
    


/* -------------------------------- Media Queries */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }