
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/cookie.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #011C27;
    font-family: 'Montserrat';
}

#logo, .content {
    color: #F1F5F2;
}

p {
    color: #F1F5F2;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


