<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0 bg-white" aria-labelledby="cookie-link">
                <a href="{% url 'products' %}?category=cookies" class="dropdown-item text-better-white">Cookies</a>
                <a href="{% url 'products' %}?category=brownies" class="dropdown-item text-better-white">Brownies</a>
            </div>
        </li>
    </ul>
</div>