<div class="collapse navbar-collapse text-center mt-2 mt-lg-0" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto list-unstyled">
      <li class="nav-item">
          <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
              Home
          </a>
      </li>

      <li class="list-inline-item dropdown pr-3">
          <a id="product-link" class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              Products
          </a>
          <div class="dropdown-menu border-0 bg-dark" aria-labelledby="cookie-link">
              <a href="{% url 'products' %}?category=cookie" class="dropdown-item text-white">Cookies</a>
              <a href="{% url 'products' %}?category=brownie" class="dropdown-item text-white">Brownies</a>
          </div>
      </li>

      <li class="list-inline-item dropdown pr-3">
          <a id="product-link" class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              All Products
          </a>
          <div class="dropdown-menu border-0 bg-dark" aria-labelledby="all-products-link">
              <a href="{% url 'products' %}" class="dropdown-item text-white">All Products</a>
              <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-white">By
                  Price</a>
              <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-white">By
                  Category</a>
          </div>
      </li>

      <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'favourites' %}" id="favourites-link">
            Favourites
        </a>
    </li>

    </li>
  </ul>
</div>